/*ログイン画面*/

.login-wrapper {
  width: 100%;
  padding-top: 150px;
  text-align: center;
}

.login-container {
  width: 60%;
  margin: 0 auto;
  background-color: rgb(5, 5, 32);
  border-radius: 10px;
  padding: 40px 0;
}

.login-container form input {
  margin-bottom: 40px;
}

.login {
  background-color: rgb(171, 221, 121, 0.9);
  margin-bottom: 40px;
}

.login:hover {
  background-color: rgb(74, 145, 17, 0.9);
}

.register {
  margin: 80px 0 100px;
  border: none;
}

/*結果画面ログイン*/

.hozon {
  margin-bottom: 100px
}


/*マイページ*/

.mypage-wrapper {
  width: 100%;
  text-align: center;
}

.mypage-title {
  padding-top: 150px;
}

.mypage-container {
  background-color: rgb(5, 5, 32);
  width: 80%;
  margin: 0 auto 50px;
  padding: 50px;
  border-radius: 10px;
}

.yakumans-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}